

body{
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("./back.jpg");
    background-size: cover;

}
img{
    position: absolute
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 5rem;
    font-family: 'Games', sans-serif;
    color: #F6F6F6;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    -moz-transform: rotate(326deg);
    -webkit-transform: rotate(326deg);
    -o-transform: rotate(326deg);
    -ms-transform: rotate(326deg);
    transform: rotate(326deg);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

header p {
    color: #F6F6F6;
    font-size: 1.25rem;
    font-family: 'Games', sans-serif;
    margin: 2rem;
}

span {
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

button {
    margin: 1.5rem;
    background: rgba(211, 213, 218, 0.808);
    border: solid 2px rgb(0, 0, 0);
    font-family: 'Games', sans-serif;
    font-size: 1rem;
    padding: 1.25rem;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(143, 143, 143);
}

button:hover {
    background-color: rgba(237, 239, 243, 0.89);
}

button:active {
    background-color: rgba(88, 88, 90, 0.808);
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#game{
    height: 200px;
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin: auto;

    
}

.torre{
    width: 50px;
    height: 150px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    flex-direction: column-reverse;
    cursor: alias;
    background: rgba(211, 213, 218, 0.808);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.torre:hover{
    background: rgba(255, 255, 255, 0.87);
}


.bolinhaJogador1{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: rgb(144,145,145);
    background: rgb(144,145,145);
    background: radial-gradient(circle at top left, rgba(144,145,145,0.8883928571428571) 17%, rgba(37, 63, 149, 0.888) 36%, rgba(14, 29, 158, 0.911) 100%);
    pointer-events: none;
}

.bolinhaJogador2{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: rgb(249,249,249);
    background: rgb(249,249,249);
    background: radial-gradient(circle at top left, rgba(249,249,249,0.8883928571428571) 0%, rgba(255,0,0,0.9108018207282913) 50%);
    pointer-events: none;
}

.vitoria-alerta1,.vitoria-alerta2, .empate-alerta{
    padding: 20px;
    font-size: 2rem;
    bottom: 300px;

    position: absolute;
    border: white;
    bottom: 300px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: -1px -2px 27px 58px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -2px 27px 58px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 27px 58px rgba(0,0,0,0.75);
    color:white;
}
.vitoria-alerta1{
    background-color: darkblue;
}
.vitoria-alerta2{
    background-color: rgb(139, 0, 0);
}
.empate-alerta{
    background-color: rgb(0, 139, 58);
}




/* EFEITO 1 */
.bolinhaJogador1, .bolinhaJogador2 {
    /* -webkit-animation-name: slideInDown; */
    animation-name: slideInDown;
    /* -webkit-animation-duration: 1s; */
    animation-duration: 1s;
    /* -webkit-animation-fill-mode: both; */
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }


@media (min-width:480px) {
    #game{
        height: 300px;
        width: 400px;
    }
    
    .torre{
        width: 100px;
        height: 300px;
    }

    .bolinhaJogador1{
        height: 50px;
        width: 50px;
    }
    
    .bolinhaJogador2{
        height:50px ;
        width: 50px;
    }

    .vitoria-alerta1,.vitoria-alerta2, .empate-alerta{
        padding: 20px;
        font-size: 3rem;
        bottom: 300px;

}
@media (min-width:600px) { 
    #game{
        height: 450px;
        width: 600px;
    }
    
    .torre{
        width: 100px;
        height: 450px;
    }

    .bolinhaJogador1{
        height: 75px;
        width: 75px;
    }
    
    .bolinhaJogador2{
        height: 75px;
        width: 75px;
    }
    .vitoria-alerta1,.vitoria-alerta2, .empate-alerta{
        padding: 20px;
        font-size: 5rem;
        bottom: 300px;
}     
@media (min-width:801px) { 
    #game{
        height: 600px;
        width: 800px;
    }
    
    .torre{
        width: 100px;
        height: 600px;
    }

    .bolinhaJogador1{
        height: 100px;
        width: 100px;
    }
    
    .bolinhaJogador2{
        height: 100px;
        width: 100px;
    }

    .vitoria-alerta1,.vitoria-alerta2, .empate-alerta{
    padding: 20px;
    font-size: 7rem;
    bottom: 300px;
    }

    button {
        font-size: 1.75rem;
    }

}

/* EFEITO 2 */
.vitoria-alerta1,.vitoria-alerta2, .empate-alerta{
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }